html {
  background-color: #252525;
  color: #666;
}
a {
  color: #3084bf;
}
.wrapper h2 {
  color: #555;
}
.ip {
  background-color: #f2f2f2;
}
.done {
  background-color: #e6e6e6;
}
.os {
  background-color: #ccc;
}
.old {
  background-color: #b3b3b3;
}
.stout,
.stdin {
  background-color: #f8f8f8;
}
.me {
  background-color: #fff;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
}
html {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 1.5rem;
}
.bg {
  display: flex;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
@media (max-width: 640px) {
  .bg {
    flex-direction: row;
  }
}
.bg .wrapper:nth-child(1) {
  flex: 0 1 30%;
  align-self: stretch;
}
@media (max-width: 640px) {
  .bg .wrapper:nth-child(1) {
    flex: 0 1 auto;
  }
}
.bg .wrapper:nth-child(2) {
  flex: 0 1 40%;
  align-self: stretch;
}
@media (max-width: 640px) {
  .bg .wrapper:nth-child(2) {
    flex: 0 1 auto;
  }
}
.bg .wrapper:nth-child(3) {
  flex: 0 1 30%;
  align-self: stretch;
}
@media (max-width: 640px) {
  .bg .wrapper:nth-child(3) {
    flex: 0 1 auto;
  }
}
.bg .wrapper:nth-child(4) {
  flex: 1 1 25%;
  align-self: stretch;
}
@media (max-width: 640px) {
  .bg .wrapper:nth-child(4) {
    flex: 0 1 auto;
  }
}
.bg .wrapper:nth-child(5) {
  flex: 1 1 15%;
  align-self: stretch;
}
@media (max-width: 640px) {
  .bg .wrapper:nth-child(5) {
    flex: 0 1 auto;
  }
}
.bg .wrapper:nth-child(6) {
  flex: 1 1 25%;
  align-self: stretch;
}
@media (max-width: 640px) {
  .bg .wrapper:nth-child(6) {
    flex: 0 1 auto;
  }
}
.bg .wrapper:nth-child(7) {
  flex: 0 1 10%;
  align-self: stretch;
}
@media (max-width: 640px) {
  .bg .wrapper:nth-child(7) {
    flex: 0 1 auto;
  }
}
.bg .wrapper {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media (max-width: 640px) {
  .bg .wrapper {
    width: 100%;
  }
}
.bg .wrapper h2,
.bg .wrapper p {
  margin: 0;
  padding: 0;
}
.bg .wrapper:hover {
  cursor: pointer;
  background-color: #000;
  color: #ddd;
}
.bg .wrapper.old:hover,
.bg .wrapper.os:hover {
  content: "f-spin.net";
  cursor: default;
  background-color: #b3b3b3;
}
.bg .wrapper.old:hover h2,
.bg .wrapper.os:hover h2,
.bg .wrapper.old:hover p,
.bg .wrapper.os:hover p {
  visibility: hidden;
}
.content {
  display: none;
  align-items: stretch;
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  word-wrap: break-word;
}
.content article section {
  color: #333;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.content article section button {
  cursor: pointer;
}
.content article section p {
  margin: 0;
}
.content article section:nth-child(odd) {
  background-color: #ddd;
}
.content article section:nth-child(odd) button {
  border: 0 none #000;
  background-color: #eee;
}
.content article section:nth-child(odd) button:hover {
  border-bottom: 1px dotted #000;
}
.content article section:nth-child(even) {
  background-color: #eee;
}
.content article section:nth-child(even) button {
  border: 0 none #000;
  background-color: #ddd;
}
.content article section:nth-child(even) button:hover {
  border-bottom: 1px dotted #000;
}
.content .sections {
  margin: 2em auto;
  width: 85%;
  background-color: #fff;
  min-height: 90%;
  display: none;
  padding: 0 2.5rem 1rem;
}
@media (max-width: 720px) {
  .content .sections {
    width: 95%;
    margin: 0.5rem auto;
    padding: 0 1em;
  }
}
.content .sections .btn_close {
  border: 0 none #000;
  display: block;
  padding: 0.5em;
  vertical-align: top;
  width: 20%;
}
.content .sections .btn_close:hover {
  background-color: #e5e5e5;
}
.content .standardOut {
  flex-direction: column;
}
.content .standardOut h1,
.content .standardOut h2,
.content .standardOut p {
  padding: 0 1.5rem 1rem;
  margin: 0;
}
.content .standardOut .btn_close {
  margin-bottom: 1rem;
}
@media (max-width: 720px) {
  .content .standardOut {
    width: 95%;
    margin: 0.5rem auto;
    padding: 0;
  }
}
.content .standardOut .outsiderText {
  border: 0 none;
  min-height: 500px;
  height: 100%;
}
.content ul {
  list-style: outside none none;
  padding: 0;
}
.content ul li {
  border-bottom: 1px dashed #fff;
  padding: 1em 0;
}
.content ul li:first-child {
  padding-top: 0;
}
.content ul li:last-child {
  border-bottom: 0 none;
}
.btn_close {
  cursor: pointer;
}
a.btn_close {
  background-color: #eee;
  font-family: arial;
  font-size: 0.9em;
  text-align: center;
  color: #333;
}
a.btn_close:hover {
  background-color: #e5e5e5;
}
.btn_top {
  border: 0 none #000;
  display: block;
  padding: 0.5em 0;
  vertical-align: top;
  width: 100px;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
}
.btn_top:hover {
  background-color: #e5e5e5;
}
@media (max-width: 720px) {
  .btn_top {
    bottom: 0;
  }
}
.stout > a,
.stdin > a {
  color: #666;
  height: 100%;
}
.stout > a:hover,
.stdin > a:hover {
  background-color: #000;
  color: #ddd;
}
.stout > a .big_btn,
.stdin > a .big_btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.gallery {
  position: relative;
  width: 60%;
  display: none;
}
@media (max-width: 720px) {
  .gallery {
    width: 100%;
  }
}
.picContainer {
  min-width: 100%;
  min-height: 100%;
  display: none;
}
.picContainer button {
  position: absolute;
  right: 0;
}
