$lightest = #f2f2f2
$light = #e6e6e6
$dark = #ccc
$darkest = #b3b3b3

$font_dark_color = #333
$font_light_color = #ddd


html
	background-color #252525
	color #666

a
	color #3084bf

.wrapper
	// background-color #fff
	h2
		color #555
 
.ip
	// background-color $darkest + 83% = lightest
	background-color $lightest	
.done
	background-color $light
.os
	background-color $dark
.old	
	background-color $darkest
	 
.stout
.stdin
	background-color $lightest + 50%
.me
	background-color white

// Mixins
// zebra(even_color = #eee, odd_color = #ddd, child = '&')
// 	{child}:nth-child(odd)
// 		background-color odd_color
// 	{child}:nth-child(even)
// 		background-color even_color


// body
// 	.wrapper
// 		// zebra(,#779162, '>')
// 		zebra(,#779162)