@require '_*.styl'

$base_font_size = 16
$px = ( 1 / $base_font_size ) rem

*
	box-sizing border-box
	
html
body
	margin 0
	height 100%
	
html
	font-family "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace

img 
	max-width 100%
	height auto

a
	text-decoration none

h2
	font-size 24*$px

.bg
	display flex
	height 100%
	max-width 1600px
	margin 0 auto
	flex-direction column
	flex-wrap wrap
	justify-content center
	align-content stretch
	align-items center
	@media (max-width: 640px)
		flex-direction row
	.wrapper:nth-child(1)
		flex 0 1 30%
		align-self stretch
		@media (max-width: 640px)
			flex 0 1 auto
	.wrapper:nth-child(2)
		flex 0 1 40%
		align-self stretch
		@media (max-width: 640px)
			flex 0 1 auto
	.wrapper:nth-child(3)
		flex 0 1 30%
		align-self stretch
		@media (max-width: 640px)
			flex 0 1 auto
	.wrapper:nth-child(4)
		flex 1 1 25%
		align-self stretch
		@media (max-width: 640px)
			flex 0 1 auto
	.wrapper:nth-child(5)
		flex 1 1 15%
		align-self stretch
		@media (max-width: 640px)
			flex 0 1 auto
	.wrapper:nth-child(6)
		flex 1 1 25%
		align-self stretch
		@media (max-width: 640px)
			flex 0 1 auto
	.wrapper:nth-child(7)
		flex 0 1 10%
		align-self stretch
		@media (max-width: 640px)
			flex 0 1 auto
	.wrapper
		display flex
		width 50%
		flex-direction column
		justify-content center
		text-align center
		@media (max-width: 640px)
			width 100%
		h2
		p
			margin 0
			padding 0
		&:hover
			cursor pointer
			background-color #000
			color #ddd
		&.old:hover
		&.os:hover
			content "f-spin.net"
			cursor default
			background-color rgb(179, 179, 179)
			h2
			p
				visibility hidden
			
zebra(even_color = #eee, odd_color = #ddd)
	color #333
	margin-bottom .5rem
	padding .5rem
	button
		cursor pointer
	p
		margin 0	
	&:nth-child(odd)
		background-color odd_color
		button
			border 0 none black
			background-color even_color
		button:hover
			border-bottom 1px dotted black
	&:nth-child(even)
		background-color even_color
		button
			border 0 none black
			background-color odd_color
		button:hover
			border-bottom 1px dotted black

.content
	display none
	align-items stretch
	position absolute
	top 0
	min-height 100%
	width 100%
	word-wrap break-word
	article
		section
			// border 1px solid red
			zebra()
	.sections
		margin 2em auto
		width 85%
		background-color rgba(255,255,255,1)
		min-height 90%
		// z-index -1
		display none
		// visibility hidden
		padding 0 2.5rem 1rem
		@media (max-width: 720px)
			width 95%
			margin .5rem auto 
			padding 0 1em
		.btn_close
			border 0 none black
			display block
			padding 0.5em
			vertical-align top
			width 20%
		.btn_close:hover
			background-color #e5e5e5
			// float: left;
	.standardOut
		flex-direction column
		h1
		h2
		p
			padding 0 1.5rem 1rem
			margin 0
		.btn_close
			margin-bottom 1rem
		@media (max-width: 720px)
			width 95%
			margin .5rem auto 
			padding 0
		.outsiderText
			border 0 none
			min-height 500px
			height 100%


.content
	ul
		list-style outside none none
		padding 0
		li
			border-bottom 1px dashed #fff
			padding 1em 0
			&:first-child
				padding-top 0
			&:last-child
				border-bottom 0 none

.btn_close
	cursor pointer
a.btn_close
	background-color #eee
	font-family arial
	font-size .9em
	text-align center
	color #333
	&:hover
		background-color #e5e5e5
	

.btn_top
	border 0 none black
	display block
	padding 0.5em 0
	vertical-align top
	width 100px
	position fixed
	bottom .5rem
	right .5rem
	&:hover
		background-color #e5e5e5
	@media (max-width: 720px)
		bottom 0

.stout > a
.stdin > a
	color #666 
	height 100%
	&:hover
		background-color #000
		color #ddd
	.big_btn
		display flex
		align-items center
		flex-direction column
		height 100%
		justify-content center

.gallery
	position relative
	width 60%
	display none
	@media (max-width: 720px)
		width 100%
	

.picContainer
	min-width 100%
	min-height 100%
	display none
	button
		position absolute
		right 0
